---
title: Whale Blog
layout: base
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: posts
---

<h1>
  Welcome to my blog!👋🏻
</h1>
<p>Hey👋🏻, that's me &mdash; good to see you here. I'm documenting my learning journey and wanted to share it with you.
  I hope you enjoy it. If you have any questions or feedback, feel free to reach out to me through my social media
  accounts.</p>
<p>Despite Next.js and other kind of frameworks provide wide range of features and support of huge community, I decided
  to use Eleventy for my blog. It's lightweight, fast and easy to use. I'm sharing the code of this blog on GitHub, so you
  can check it out and use it as a template for your own blog. I hope you find it useful.</p>
<p>If you have any questions or feedback, feel free to reach out to me through my social media accounts.</p>